<footer class="main-footer">
  <div class="main-footer-inner">
    <span>&copy; 2016&ndash;{{ site.time | date: '%Y' }}&nbsp;&nbsp;&bull;&nbsp;&nbsp;a good machine</span>

    <nav class="footer-nav">
      <a href="//agoodmachine.co/themes">Themes</a>
      <a href="//docs.agoodmachine.co">Documentation</a>
      <a href="//agoodmachine.co/support">Support</a>
      <a href="//agoodmachine.co/work">Contact</a>
      <a href="//agoodmachine.co/privacy">Privacy policy</a>
    </nav>
  </div>
</footer>

<script src="/assets/site.js"></script>
