<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="expires" content="30">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="/assets/favicon.png" type="image/png">

<meta name="google-site-verification" content="DYF3e-VjQXTucbY2ZT8kf-9HUZBISaapqrrAwF3oOi4" />

<title>{% if page.title %}{{ page.title }} &ndash; {% endif %}{% if page.category %}{{ page.category | capitalize }} &ndash; {% endif %}A Good Machine</title>
<meta name="description" content="Premium full-featured, SEO optimized themes for Shopify">

<link rel="stylesheet" href="/assets/styles.css">
<link rel="canonical" href="{{ site.url }}{{ page.url }}">

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i" rel="stylesheet">

{% include metadata.html %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55959745-2', 'auto');
  ga('send', 'pageview');
</script>
