<span class="top-banner"></span>

<header class="main-header">
  <div class="main-header-inner">
    <nav class="main-nav">
      <a href="//agoodmachine.co/themes">Themes</a>
    </nav>

    <a class="logo-wrapper" href="//agoodmachine.co">
      <span class="logo-title" href="#">a good</span>

      <span class="logo">
        <svg class="logo-back"><use xlink:href="#logo-back"></use></svg>
        <svg class="logo-front"><use xlink:href="#logo-front"></use></svg>
      </span>

      <span class="logo-title" href="#">machine</span>
    </a>

    <nav class="main-nav">
      <a href="//agoodmachine.co/work">Work with us</a>
    </nav>
  </div>
</header>
