$blue: #4351B2;
$red: #FF6955;
$white: #FFF;
$black: #121212;
$grey: #95AABD;
$yellow: #FCCE43;
$background-secondary: #F2F4F6;

$accent-color: $red;
$max-width: 1000px;
$body-font: "Source Sans Pro", Helvetica, Arial, sans-serif;
$body-color: $black;
$font-size: 1.6;
$link-color: $red;
$background-color: $white;
$border-color: #e0e0e0;
$easing: cubic-bezier(0.250, 0.460, 0.450, 0.940);
